{% extends 'admin/base.html.twig' %}

{% form_theme form 'ad/_collection.html.twig' %}

{% block title %}Modifications de l'annonce {{ad.title}}{% endblock %}

{% block body %}
<div class="container">
    <h1 class="my-5">Modifications de l'annonce {{ad.title}}</h1>
    <a href="{{ path('admin_ad_delete', {'id' : ad.id }) }}" class="btn btn-danger mb-5"><i class="fas fa-trash"></i> supprimer l'annonce</a>
    {{ form_start(form)}}
    {{ form_widget(form)}}
    <button type="submit" class="btn btn-primary">Modifier</button>
    {{ form_end(form)}}

</div>
<div class="container-fluid">
    <h2 class="pt-5 pb-3">Réservation lié à l'annonce : <strong>{{ad.title}}</strong></h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Visiteur</th>
                <th class="text-center">Durée</th>
                <th class="text-center">Montant</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for booking in ad.bookings %}
            <tr>
                <td>{{booking.id}}</td>
                <td>{{booking.createdAt | date('d/m/y') }}</td>
                <td class="mini-menu"><img src="{{booking.booker.picture}}" alt="Avatar de {{booking.booker.fullname}}" class="avatar avatar-mini mr-2">{{booking.booker.fullname}}
                <br><a href="{{ path('admin_user_edit', {'id': booking.booker.id}) }}"><small>Modifier ></small></a>
                </td>
                <td class="text-center">{{booking.duration}}</td>
                <td class="text-center">{{booking.amount}} €</td>
                <td>
                
                    <a href="{{ path('admin_booking_edit', {'id':booking.id}) }}" class="btn btn-primary"><i class="fas fa-edit"></i></a>
                    <a href="{{ path('admin_booking_delete', {'id':booking.id}) }}" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
