{% extends 'admin/base.html.twig' %}

{% block title %}Administration des annonces{% endblock %}

{% block body %}
<div class="container-fluid">
    <h1 class="my-5">Gestion des annonces</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Auteur</th>
                <th class="text-center">Réservations</th>
                <th class="text-center">Note</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ad in pagination.data %}
            <tr class="align-items-center">
                <td>{{ad.id}}</td>
                <td>{{ad.title}}</td>
                <td class="mini-menu"><img src="{{ad.author.picture}}" alt="Avatar de {{ad.author.fullname}}" class="avatar avatar-mini mr-2">{{ad.author.fullname}}
                <br><a href="{{ path('admin_user_edit', {'id': ad.author.id}) }}"><small>Modifier ></small></a>
                </td>
                <td class="text-center">{{ ad.bookings | length }}</td>
                <td class="text-center"><span class="badge badge-primary rounded p-3">{{ad.avgRatings | number_format(1, ',',' ') }}</span></td>
                <td>
                    <a href="{{ path('admin_ad_edit', {'id' : ad.id }) }}" class="btn btn-primary" title="Modifier l'annonce {{ ad.title}}"><i class="fas fa-edit"></i></a>
                    <a href="{{ path('admin_ad_delete', {'id' : ad.id }) }}" class="btn btn-danger" title="Supprimer l'annonce {{ ad.title}}"><i class="fas fa-trash"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ pagination.display() }}
</div>
{% endblock %}
