<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion à l'administration</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    <style>
        body{
            min-height:100vh;
        }
    </style>
</head>
<body class="d-flex justify-content-center align-items-center">
    <div class="col-lg-4">
        <div class="card bg-light">
            <div class="card-header">
                <h4 class="card-title text-center"><i class="fas fa-lock"></i><br>Connexion à l'administration</h4>
            </div>
            <div class="card-body">
            {% if hasError %}
                <div class="alert alert-danger text-center">
                    Les informations que vous avez fournies ne sont pas correctes
                </div>
            {% endif %}
                <form method="post">
                    <div class="form-group"><label for="_username">Email</label><input type="text" class="form-control" placeholder="Adresse Email" name="_username"></div>
                    <div class="form-group"><label for="_password">Mot de passe</label><input type="password" class="form-control" placeholder="Mot de passe" name="_password"></div>
                    <div class="d-flex justify-content-between align-items-center">
                        <a href="{{path('homepage')}}"><i class="fas fa-arrow-circle-left"></i> Retour sur le site</a>
                        <div class="form-group m-0"><button type="submit" class="btn btn-primary"><i class="fas fa-lock-open"></i> Connexion</button></div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</body>
</html>