{% extends 'admin/base.html.twig' %}

{% block title %}Modifications de l'utilisateur {{user.fullname}}{% endblock %}

{% block body %}
<div class="container">
    <h1 class="my-5">Modifications de l'utilisateur {{user.fullname}}</h1>
    <a href="{{ path('admin_user_delete', {'id' : user.id }) }}" class="btn btn-danger mb-5"><i class="fas fa-trash"></i> supprimer l'utilisateur</a>
    
    {{ form_start(form)}}
    {{ form_widget(form)}}
    <button type="submit" class="btn btn-primary">Modifier</button>
    {{ form_end(form)}}

</div>
<div class="container-fluid">
    <h2 class="pt-5 pb-3">Annonces de <strong>{{user.fullname}}</strong></h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th class="text-center">Réservations</th>
                <th class="text-center">Note</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ad in user.ads %}
            <tr class="align-items-center">
                <td>{{ad.id}}</td>
                <td>{{ad.title}}</td>
                <td class="text-center">{{ ad.bookings | length }}</td>
                <td class="text-center"><span class="badge badge-primary rounded p-3">{{ad.avgRatings | number_format(1, ',',' ') }}</span></td>
                <td>
                    <a href="{{ path('admin_ad_edit', {'id' : ad.id }) }}" class="btn btn-primary"><i class="fas fa-edit"></i></a>
                    <a href="{{ path('admin_ad_delete', {'id' : ad.id }) }}" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div class="container-fluid">
    <h2 class="pt-5 pb-3">Réservation de <strong>{{user.fullname}}</strong></h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th class="text-center">Durée</th>
                <th class="text-center">Montant</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for booking in user.bookings %}
            <tr>
                <td>{{booking.id}}</td>
                <td>{{booking.createdAt | date('d/m/y') }}</td>
                <td class="text-center">{{booking.duration}}</td>
                <td class="text-center">{{booking.amount}} €</td>
                <td>
                
                    <a href="{{ path('admin_booking_edit', {'id':booking.id}) }}" class="btn btn-primary"><i class="fas fa-edit"></i></a>
                    <a href="{{ path('admin_booking_delete', {'id':booking.id}) }}" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div class="container-fluid">
    <h2 class="pt-5 pb-3">Commentaires de <strong>{{user.fullname}}</strong></h2>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Commentaire</th>
                <th class="text-center">Note</th>
                <th>Annonce</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for comment in user.comments %}
            <tr>
                <td>{{comment.id}}</td>
                <td>{{comment.createdAt | date('d/m/y') }}</td>
                <td>{{comment.content}}</td>
                <td class="text-center"><span class="badge badge-primary rounded p-3">{{comment.rating | number_format(1, ',',' ') }}</span></td>
                <td class="mini-menu">{{comment.ad.title}}
                <br><a href="{{ path('admin_ad_edit', {'id': comment.ad.id}) }}"><small>Modifier ></small></a>
                </td>
                <td>
                    <a href="{{ path('admin_comment_edit', {'id':comment.id}) }}" class="btn btn-primary"><i class="fas fa-edit"></i></a>
                    <a href="{{ path('admin_comment_delete', {'id':comment.id}) }}" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
