{% extends 'admin/base.html.twig' %}

{% block title %}Gestion des utilisateurs{% endblock %}

{% block body %}
<div class="container-fluid">
    <h1 class="my-5">Gestion des utilisateurs</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>id</th>
                <th>Avatar</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th class="text-center">Nombres d'annonces</th>
                <th class="text-center">Nombres de réservation</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{user.id}}</td>
                <td><img src="{{ user.picture }}" alt="Avatare de {{ user.fullname }}" class="avatar avatar-medium"></td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td class="text-center">{{ user.ads | length }}</td>
                <td class="text-center">{{ user.bookings | length }}</td>
                <td>
                    <a href="{{ path('admin_user_edit', {'id':user.id}) }}" class="btn btn-primary" title="Modifier {{ user.fullname }}"><i class="fas fa-edit"></i></a>
                    <a href="{{ path('admin_user_delete', {'id':user.id}) }}" class="btn btn-danger" title="Supprimer {{ user.fullname }}"><i class="fas fa-trash"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
