{% extends 'base.html.twig' %}

{% block title %}Vos réservation passées et avenir{% endblock %}

{% block body %}
<div class="container">
    <h1 class="mt-5">Mes réservations</h1>
    <div class="alert alert-info mt-3">
        <p>Retrouvez ci-dessous toutes vos réservation passé et à venir</p>
    </div>

    {% for booking in app.user.bookings %}
    {% set ad = booking.ad %}
        <div class="row my-5">
            <div class="col-sm-4">
                <img src="{{ ad.coverImage }}" alt="Photo de l'annonce {{ ad.title }}" class="img-fluid">
                <div class="my-3">
                {% set comment = ad.commentFromAuthor(app.user) %}
                    {% if comment is not null %}
                        {% include 'partials/rating.html.twig' with {'rating': comment.rating} %}
                    {% elseif date()< date(booking.endDate) %}
                        Dés que votre voyage est terminé, revener vers nous pour partager votre expérience
                    {% else %}
                        Vous n'avez pas encore donnée de note <br>
                        <a href="{{ path('booking_show', {'id':booking.id}) }}#comment">Je donne mon avis !</a>
                    {% endif %}
                </div>
            </div>
            <div class="col-sm-8">
                <h4>{{ ad.title}}</h4>
                <p>Réservation <strong>n : {{ booking.id }}</strong><br>
                Du {{ booking.startDate | date('d/m/Y') }} au {{ booking.endDate | date('d/m/Y') }} <br>
                ({{ booking.amount | number_format(2, ',' ,' ') }} &euro;)</p>
                <a href="{{ path('booking_show', {'id':booking.id}) }}" class="btn btn-info">Plus d'info</a>
            </div>
            <hr>
        </div>
    {% endfor %}
</div>
{% endblock %}
