{% extends 'base.html.twig' %}

{% block title %}Connection au site{% endblock %}

{% block body %}
<div class="container my-5">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 bg-light p-3">
            <h1>Connectez vous</h1>
            {% if hasError %}
                <div class="alert alert-danger text-center">Une erreur est survenue, le nom d'utilisateur ou le mot de passe est invalide</div>
            {% endif %}
            <form action="{{ path('account_login') }}" method="post">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input required type="text" value="{{ userName }}" name="_username" placeholder="Entrer l'email" id="username" class="form-control">
                </div>
                <div class="form-group">
                    <label for="password">Mot de passe</label>
                    <input required type="password" name="_password" placeholder="Entrer le mot de passe" id="password" class="form-control">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Connexion</button>
                </div>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
{% endblock %}
