{% extends 'base.html.twig' %}

{% block title %}Modification du mot de passe utilisateur{% endblock %}

{% block body %}
<div class="container">
    <div class="row py-5" style ="min-height:70vh;">
        <div class="d-flex justify-content-center align-items-center w-100" >
            <div class="bg-light p-3 w-75" style="min-width:400px;">
                <h1>Modification du mot de passe utilisateur</h1>
                
                {{ form_start(form) }}

                {{ form_widget(form) }}
                
                <button type="submit" class="btn btn-success">Modifier le mot de passe</button>

                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
