{% extends 'base.html.twig' %}

{% block title %}Modification du profil utilisateur{% endblock %}

{% block body %}
<div class="container">
    <h1 class="mt-5">Modification du profil utilisateur</h1>
    <div class="alert alert-info mt-3">
        <p>Vous pouvez ici faire la modification de votre profil utilisateur</p>
    </div>
    <div class="container py-5" style ="min-height:70vh;">
                
    {{ form_start(form) }}

        <div class="row">
            <div class="col-md">
                <div class="alert alert-light">
                    <h2>Votre identité</h2>
                    <hr>
                    {{ form_row(form.firstName) }}
                    {{ form_row(form.lastName) }}
                    {{ form_row(form.email) }}

                </div>
                <div class="alert alert-light">
                    <h2>Votre description</h2>
                    <hr>
                    {{ form_row(form.introduction) }}
                    {{ form_row(form.description) }}
                </div>
            </div>
            <div class="col-md">
                <div class="alert alert-light">
                    <h2>Votre image</h2>
                    <hr>
                    {{ form_row(form.picture) }}
                </div>
            </div>
        </div>


    <button type="submit" class="btn-block btn-primary py-3 rounded">Modifier</button>
    {{ form_end(form) }}

    </div>
</div>
{% endblock %}
