{% extends 'base.html.twig' %}

{% block title %}Inscritption au site{% endblock %}

{% block body %}
<div class="container">
    <h1 class="mt-5">Inscription sur annonce.com</h1>
    <div class="alert alert-info mt-3">
        <p>Vous ête sur le point de vous enregistrer sur le site annonce.com</p>
    </div>
    <div class="container py-5" style ="min-height:70vh;">
                
        {{ form_start(form) }}

            <div class="row">
                <div class="col-md">
                    <div class="alert alert-light">
                        <h2>Votre identité</h2>
                        <hr>
                        {{ form_row(form.firstName) }}
                        {{ form_row(form.lastName) }}

                    </div>
                </div>
                <div class="col-md">
                    <div class="alert alert-light">
                        <h2>Vos informations de connexion</h2>
                        <hr>
                        {{ form_row(form.email) }}
                        {{ form_row(form.hash) }}
                        {{ form_row(form.passwordConfirm) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <div class="alert alert-light">
                        <h2>Votre description</h2>
                        <hr>
                        {{ form_row(form.introduction) }}
                        {{ form_row(form.description) }}
                    </div>
                </div>
                <div class="col-md">
                    <div class="alert alert-light">
                        <h2>Votre image</h2>
                        <hr>
                        {{ form_row(form.picture) }}
                    </div>
                </div>
            </div>
        <button type="submit" class="btn-block btn-primary py-3 rounded">Créer</button>
        {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}
