<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
<a class="navbar-brand" href="{{ path('homepage')}}"><img src="/1x/Fichier 10.png" alt="logo" style="height:50px;"></a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Basculer la navigation">
    <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="{{ path('homepage')}}"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Accueil </font></font><span class="sr-only"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">(courant)</font></font></span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('ads_index')}}"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Annonces </font></font><span class="sr-only"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">(courant)</font></font></span></a>
        </li>
    </ul>
    <ul class="navbar-nav ml-auto"> 
    {% if app.user %}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="accountDropdownLink">
                <img src="{{app.user.picture}}" alt="Avatar de {{ app.user.getFullname }}" class="avatar avatar-mini">
                {{ app.user.getFullname }}
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="accountDropdownLink">
                <a href="{{ path('ads_create') }}" class="dropdown-item">Ajouter une annonce</a>
                <div class="dropdown-divider">
                </div>
                <a href="{{ path('account_index') }}" class="dropdown-item">Mon compte</a>
                <a href="{{ path('account_bookings') }}" class="dropdown-item">Mes réservations</a>
                <a href="{{ path('account_profile') }}" class="dropdown-item">Modifirer mon profil</a>
                <div class="dropdown-divider">
                </div>
                <a href="{{ path('account_logout')}}" class="dropdown-item">Déconnexion</a>
            </div>
        </li>
    {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{{ path('account_register') }}">Inscription</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('account_login') }}">Connexion</a>
        </li>
    {% endif %}

    </ul>
</div>
</nav>