<span class="text-warning">
{% set x = rating %}
    {% for i  in 1..5 %}
    
    {% if i <= rating or x > 0.5 and x <= 1%}
        <i class="fas fa-star"></i>
    {% elseif x <= 0.5 and x > 0 %}
        <i class="fas fa-star-half-alt"></i>
    {% else %}
        <i class="far fa-star"></i>
    {% endif %}
    {% set x = x - 1  %}
    {% endfor %}
</span>