{% extends 'admin/base.html.twig' %}

{% block title %}Modifications de la réservations n°{{booking.id}}{% endblock %}

{% block body %}
<div class="container">
    <h1 class="my-5">Modifications de la réservations n°{{booking.id}}</h1>
    {# <div class="alert alert-info"> 
        <table>
            <tr>
                <td><strong>Annonce lié :</strong></td>
                <td>{{ comment.ad.title }}</td>
            </tr>
            <tr>
                <td><strong>Auteur :</strong></td>
                <td>{{ comment.author.fullname}}</td>
            </tr>
            <tr>
                <td><strong>Date de création :</strong></td>
                <td>{{ comment.createdAt | date('d/m/Y') }}</td>
            </tr>
            <tr>
                <td><strong>Note donnée :</strong></td>
                <td>{{ comment.rating }}</td>
            </tr>
        </table>
    </div> #}
    {{ form_start(form)}}
    {{ form_widget(form)}}
    <button type="submit" class="btn btn-primary">Modifier</button>
    {{ form_end(form)}}

</div>
{% endblock %}
