{% extends 'admin/base.html.twig' %}

{% block title %}Administration des réservations{% endblock %}

{% block body %}
<div class="container-fluid">
    <h1 class="my-5">Gestion des réservations</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Visiteur</th>
                <th>Annonce</th>
                <th class="text-center">Durée</th>
                <th class="text-center">Montant</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for booking in pagination.data %}
            <tr>
                <td>{{booking.id}}</td>
                <td>{{booking.createdAt | date('d/m/y') }}</td>
                <td class="mini-menu"><img src="{{booking.booker.picture}}" alt="Avatar de {{booking.booker.fullname}}" class="avatar avatar-mini mr-2">{{booking.booker.fullname}}
                <br><a href="{{ path('admin_user_edit', {'id': booking.booker.id}) }}"><small>Modifier ></small></a>
                </td>
                <td>{{booking.ad.title}}</td>
                <td class="text-center">{{booking.duration}}</td>
                <td class="text-center">{{booking.amount}} €</td>
                <td>
                
                    <a href="{{ path('admin_booking_edit', {'id':booking.id}) }}" class="btn btn-primary" title="Modifier la réservation n°{{ booking.id}}"><i class="fas fa-edit"></i></a>
                    <a href="{{ path('admin_booking_delete', {'id':booking.id}) }}" class="btn btn-danger" title="Supprimer la réservation n°{{ booking.id}}"><i class="fas fa-trash"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{{ pagination.display() }}
</div>
{% endblock %}
