<nav class="navbar navbar-expand-lg navbar-light bg-light">
<a class="navbar-brand" href="{{ path('homepage')}}"><img src="/1x/Fichier 9.png" alt="logo" style="height:50px;"></a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Basculer la navigation">
    <span class="navbar-toggler-icon"></span>
</button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin_dashboard')}}"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><i class="fas fa-chart-line"></i> Dashboard </font></font><span class="sr-only"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">(courant)</font></font></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin_ads_index')}}"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><i class="fas fa-home"></i> Annonces </font></font><span class="sr-only"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">(courant)</font></font></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin_bookings_index')}}"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><i class="fas fa-folder"></i> Réservations </font></font><span class="sr-only"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">(courant)</font></font></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin_comments_index')}}"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><i class="fas fa-comment"></i> Commentaires </font></font><span class="sr-only"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">(courant)</font></font></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin_users_index')}}"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><i class="fas fa-users"></i> Utilisateurs </font></font><span class="sr-only"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">(courant)</font></font></span></a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto"> 
        <li class="nav-item">
            <a href="{{ path('homepage') }}" targe="_blank" class="nav-link">
                <i class="fas fa-eye"></i> Voir le site
            </a>
        </li>
        {% if app.user %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="accountDropdownLink">
                    <img src="{{app.user.picture}}" alt="Avatar de {{ app.user.getFullname }}" class="avatar avatar-mini">
                    {{ app.user.getFullname }}
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="accountDropdownLink">
                    <a href="{{ path('admin_account_logout')}}" class="dropdown-item">Déconnexion</a>
                </div>
            </li>
        {% endif %}

        </ul>
    </div>
</nav>