{% extends 'base.html.twig' %}

{% block title %}Réserver l'annonce : {{ ad.title }}{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw==" crossorigin="anonymous" />
{% endblock %}
{% block body %}
<div class="jumbotron">
    <h1 class="display-4">Réservation : {{ ad.title }}</h1>
    <hr class="my-4">
    <p>Vous êtes sur le point de réserver le bien de <strong> {{ ad.author.getFullName }}</strong>, dites nous tout, on s'occupe du reste !</p>
</div>
<div class="container my-5">

{{ form_start(form) }}
    <div class="alert alert-light">
        <h2>Commencez par nous dire quelles sont les dates qui vous intéressent !</h2>

        <div class="row">
            <div class="col">{{ form_row(form.startDate) }}</div>
            <div class="col">{{ form_row(form.endDate) }}</div>
        </div>
        <h4 class="my-3">Montant du séjour : <span id="amount">...</span> &euro;</h4>
        <p><span id="days">0</span> nuits à {{ad.price | number_format(2, ',' ,' ') }} &euro; /nuit</p>
    </div>




    <h2>Vous avez un commentaire ?</h2>
{{ form_row(form.comment) }}

    <button type="submit" class="btn btn-success">Réserver</button>
{{ form_end(form) }}
</div>
{% endblock %}

{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ==" crossorigin="anonymous" charset="UTF-8"></script>

<script>
    $(document).ready(function(){
        $.fn.datepicker.dates['fr'] = {
            days: ["Dimanche", "Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi"],
            daysShort: ["Dim", "Lun", "Mar", "Mer", "Jeu", "Ven", "Sam"],
            daysMin: ["Di", "Lu", "Ma", "Me", "Je", "Ve", "Sa"],
            months: ["Janvier", "Février", "Mars", "Avril", "Mai", "Juin", "Juillet", "Août", "Septembre", "Octobre", "Novembre", "Décembre"],
            monthsShort: ["Jan", "Fev", "Mar", "Avr", "Mai", "Jui", "Jul", "Aou", "Sep", "Oct", "Nov", "Dec"],
            today: "Aujourd'hui",
            clear: "Reset",
            format: "dd/mm/yyyy",
            titleFormat: "MM yyyy" /* Leverages same syntax as 'format' */
            
        };
        $('#booking_startDate, #booking_endDate').datepicker({
            format:'dd/mm/yyyy',
            datesDisabled : [
                {% for day in ad.getNotAvailableDays %}
                    "{{ day.format('d/m/Y') }}",
                {% endfor %}
            ], 
            startDate : new Date(),
            language : "fr",
            weekStart: 1
        });

        $('#booking_startDate, #booking_endDate').on('change',calculateAmount);
    });

    function calculateAmount(){
        
        const endDate = new Date($('#booking_endDate').val().replace(/(\d+)\/(\d+)\/(\d{4})/,'$3-$2-$1'));
        const startDate = new Date($('#booking_startDate').val().replace(/(\d+)\/(\d+)\/(\d{4})/,'$3-$2-$1'));

        if (startDate && endDate && startDate < endDate){
            const DAY_TIME = 24*60*60*1000;
            const interval = endDate.getTime() - startDate.getTime();
            const days = interval / DAY_TIME;
            const amount = days * {{ ad.price }};

            $('#days').text(days);
            $('#amount').text(amount.toLocaleString('fr-FR'));
        }
    }
</script>
{% endblock %}
