{% extends 'base.html.twig' %}

{% block title %}Réservation n°{{booking.id}}{% endblock %}

{% block body %}

{% set ad = booking.ad %}
{% set author = ad.author %}
<div class="container my-5">
    <h1 class="display-4">Votre réservation n°{{booking.id}}</h1>
    
    {% if app.request.query.get('withAlert') %}
        <div class="alert alert-success">
            <h4 class="alert-heading">Bravo !</h4>
            <p>Votre réservation auprès de <strong><a href="{{ path("user_show", {'slug' : author.slug})}}">{{ author.getFullName}}</a></strong> pour l'annonce <strong><a href="{{ path('ads_show' , {'slug' : ad.slug})}}">{{ ad.title }}</a></strong> à bien été prise en compte !</p>
        </div>
    {% endif %}
        <div class="row">
            <div class="col-md">
                <div class="alert alert-light">
                    <h2 class="alert-heading">Détails</h2>
                    <dl class="row">
                        <dt class="col-xl-4">Numéro</dt>
                        <dd class="col-xl-8">{{ booking.id }}</dd>
                        <dt class="col-xl-4">Date d'arrivée</dt>
                        <dd class="col-xl-8">{{ booking.startDate | date('d/m/y') }}</dd>
                        <dt class="col-xl-4">Date de départ</dt>
                        <dd class="col-xl-8">{{ booking.endDate | date('d/m/y') }}</dd>
                        <dt class="col-xl-4">Nombre de nuits</dt>
                        <dd class="col-xl-8">{{ booking.duration }}</dd>
                        <dt class="col-xl-4">Montant total</dt>
                        <dd class="col-xl-8">{{ booking.amount | number_format(2, ',' ,' ') }} &euro;</dd>
                        <dt class="col-xl-4">Commentaire événtuel</dt>
                        <dd class="col-xl-8">{{ booking.comment|default ('Pas de commentaires') }}</dd>
                    </dl>
                </div>
            </div>
            <div class="col-md">
                <div class="alert alert-light">
                <h2 class="alert-heading">Votre hôte</h2>
                    <div class="row mb-3">
                        <div class="col-3">
                            <img src="{{ author.picture}}" class="avatar avatar-medium" alt="Avatar de {{ author.getFullName }}">
                        </div>
                        <div class="col-md">
                        <h4>
                            <a href="{{ path('user_show',{'slug': author.slug}) }}">{{ author.getFullName }}</a>
                        </h4>
                            <span class="badge badge-primary">{{author.ads | length }} annonce{% if (author.ads | length)>1 %}s{% endif %}</span>
                        </div>
                    </div>
                    <div class="my-3">
                    {{ author.introduction | raw }}
                    </div>

                    <a href="{{ path('user_show',{'slug': author.slug}) }}" class="btn btn-primary">Plus d'info sur {{ author.firstName }}</a>
                    
                    <hr>
                    <h2 class="alert-heading">Votre hébergement</h2>
                    <h4>    
                        <a href="{{ path('ads_show',{'slug': ad.slug}) }}">{{ad.title}}</a>
                    </h4>
                    <img src="{{ ad.coverImage }}" alt="Image de {{ad.title}}" class="img-fluid">
                    
                    <div class="my-3">
                    {{ad.introduction | raw }}
                    </div>
                    
                    <a href="{{ path('ads_show',{'slug': ad.slug}) }}" class="btn btn-primary">Plus d'info</a>
                </div>
                <div class="alert alert-light" id="comment">
                    
                    {% if date()> date(booking.endDate) %}
                        {% set comment = booking.ad.commentFromAuthor(app.user) %}
                        {% if comment is not null %}
                        <h2 class="alert-heading">Votre commentaire : </h3>
                            <blockquote>
                                 {{ comment.content }}
                            </blockquote>
                            {% include 'partials/rating.html.twig' with {'rating': comment.rating} %}
                        {% else %}
                        <h2 class="alert-heading">Votre avis compte !</h2>
                            {{ form_start(form) }}
                            {{ form_widget(form) }}
                            <button type="submit" class="btn btn-success">Confirmer</button>
                            {{ form_end(form) }}
                        {% endif %}
                    {% else %}
                    <h2 class="alert-heading">Votre avis compte !</h2>
                        <p>Vous ne pourrez pas noter cette annonce tant que votre voyage ne sera pas terminer</p>
                    {% endif %}

                </div>
            </div>
        </div>


</div>
{% endblock %}
