.avatar{
    max-width:128px;
    max-width: 128px;
    border-radius: 50%;
}

.avatar-medium{
    max-width:64px;
    max-height:64px;
}

.avatar-mini{
    max-width:32px;
    max-height:32px;
}
.avatar-micro{
    max-width:16px;
    max-height:16px;
}

.datepicker table tr td.disabled, .datepicker table tr td.disabled{
    background: rgba(255,0,0,0.05)!important;

    color: firebrick !important;
    opacity: 0.5;
}

.datepicker table tr td.disabled, .datepicker table tr td.disabled:hover{
    background: none!important;

}

.mini-menu{
    a{
        display: block;
        opacity: 0;
        transition: 0.3s;
        transform: translateY(-30%);
    }
    &:hover a{
        opacity: 1;
        transform: translateY(0%);
    }
} 

