{% extends 'admin/base.html.twig' %}

{% block title %}Administration des commentaires{% endblock %}

{% block body %}
<div class="container-fluid">
    <h1 class="my-5">Gestion des commentaires</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Auteur</th>
                <th>Commentaire</th>
                <th class="text-center">Note</th>
                <th>Annonce</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for comment in pagination.data %}
            <tr>
                <td>{{comment.id}}</td>
                <td>{{comment.createdAt | date('d/m/y') }}</td>
                <td class="mini-menu"><img src="{{comment.author.picture}}" alt="Avatar de {{comment.author.fullname}}" class="avatar avatar-mini mr-2">{{comment.author.fullname}}
                <br><a href="{{ path('admin_user_edit', {'id': comment.author.id}) }}"><small>Modifier ></small></a>
                </td>
                <td>{{comment.content}}</td>
                <td class="text-center"><span class="badge badge-primary rounded p-3">{{comment.rating | number_format(1, ',',' ') }}</span></td>
                <td class="mini-menu">{{comment.ad.title}}
                <br><a href="{{ path('admin_ad_edit', {'id': comment.ad.id}) }}"><small>Modifier ></small></a>
                </td>
                <td>
                    <a href="{{ path('admin_comment_edit', {'id':comment.id}) }}" class="btn btn-primary" title="Modifier le commentaire"><i class="fas fa-edit"></i></a>
                    <a href="{{ path('admin_comment_delete', {'id':comment.id}) }}" class="btn btn-danger"><i class="fas fa-trash" title="Supprimer le commentaire"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{{ pagination.display() }}
</div>
{% endblock %}
