<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello {{ prenom}}</title>
</head>
<body>
    {# Commentaire #}
    <h1>Bonjour {{ prenom}}, vous avez {{ age}} ans</h1>
    
</body>
</html>