
{% extends 'base.html.twig' %}
{% block title %}
    Bienvenue sur le meilleur site d'annonce
{% endblock %}
{% block body %}
  <div class="jumbotron">
        <h1 class="display-3">Bienvenue sur Annonce.com</h1>
        <p class="lead">Nous mettons en relations les voyageurs et les propriétaires qui veulent profiter d'opportunités et gagner de l'argent en proposant leur bien à la location</p>
        <hr class="my-4">
        <p class="text-center">Vous êtes en recherche d'une annonce particulière ?</p>
        <p class="lead text-center">
        <a class="btn btn-primary btn-lg " href="{{ path('ads_index')}}" role="button">Voir les annonces</a>
  </p>
</div>
<div class="container">
    <h2>Nos annonces stars</h2>
    <div class="row mb-5">
        {% for data in ads %}
            {% include 'ad/_ad.html.twig' with {'ad' : data.annonce} %}
        {% endfor %}


    </div>
    <h2>Nos propriétaires stars !</h2>
    <div class="row ">
    {% for data in users %}
        <div class="col-sm">
            <div class="card border-secondary mb-3">
                <div class="card-body">
                    <h4 class="card-title">{{ data.user.fullname}}</h4> 
                    </hr>
                    <div class="card-text">
                        <img src="{{ data.user.picture }}" alt="Avatar de {{ data.user.fullname}}" class="float-left mr-3 avatar">
                        <p>{{ data.user.introduction }}</p>
                        <a href="{{ path('user_show', {'slug': data.user.slug}) }}" class="btn btn-success float-right">En savoir plus</a>
                    </div>
                </div>
            </div>
        </div>  
    {% endfor %}      
    </div>
</div>
{% endblock %}