{% extends 'admin/base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
<div class="container-fluid my-5">
    <div class="row">
        <div class="col-sm mb-3">
            <div class="card bg-primary text-white mb-3 text-center h-100">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-4">
                            <i class="fas fa-users fa-3x"></i>
                        </div>
                        <div class="col-lg-8">
                            <h4 class="card-title">
                                {{ stats.users }} utilisateurs
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm mb-3">
            <div class="card bg-dark text-white mb-3 text-center h-100">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-4">
                            <i class="fas fa-home fa-3x"></i>
                        </div>
                        <div class="col-lg-8">
                            <h4 class="card-title">
                                {{ stats.ads }} annonces posté
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm mb-3">
            <div class="card bg-warning text-white mb-3 text-center h-100">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-4">
                            <i class="fas fa-folder fa-3x"></i>
                        </div>
                        <div class="col-lg-8">
                            <h4 class="card-title">
                                {{ stats.bookings }} réservation
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm mb-3">
            <div class="card bg-success text-white mb-3 text-center h-100">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-4">
                            <i class="fas fa-comments fa-3x"></i>
                        </div>
                        <div class="col-lg-8">
                            <h4 class="card-title">
                                {{ stats.comments }} avis
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md">
            <div class="alert alert-success">
                <h2 class="alert-heading my-3"> <i class="fas fa-arrow-up"></i> Annonces populaires</h2>
                <table class="table-primary">
                    <thead>
                        <tr>
                            <th>Annonce</th>
                            <th>Proprio</th>
                            <th>Moyenne</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for ad in bestAds %}
                        <tr>
                            <td class="mini-menu">{{ ad.title }}
                            <br><a href="{{ path('admin_ad_edit', {'id': ad.id}) }}"><small>Voir l'annonce ></small></a></td>
                            <td class="mini-menu"><img src="{{ ad.picture }}" class="avatar avatar-mini" alt="avatar de {{ ad.firstName }} {{ ad.lastName }}"> {{ ad.firstName }} {{ ad.lastName }}
                            <br><a href="{{ path('admin_user_edit', {'id': ad.userId}) }}"><small>Voir l'utilisateur ></small></a></td>
                            <td class="text-center">
                                <span class="badge badge-dark">{{ad.note | number_format(1,","," ")}}</span>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            
        </div>
        <div class="col-md">
            <div class="alert alert-danger">
                <h2 class="alert-heading my-3"> <i class="fas fa-arrow-down"></i> Pires annonces</h2>
                <table class="table-danger">
                    <thead>
                        <tr>
                            <th>Annonce</th>
                            <th>Proprio</th>
                            <th>Moyenne</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for ad in worstAds %}
                        <tr>
                            <td class="mini-menu">{{ ad.title }}
                            <br><a href="{{ path('admin_ad_edit', {'id': ad.id}) }}"><small>Voir l'annonce ></small></a></td>
                            <td class="mini-menu"><img src="{{ ad.picture }}" class="avatar avatar-mini" alt="avatar de {{ ad.firstName }} {{ ad.lastName }}"> {{ ad.firstName }} {{ ad.lastName }}
                            <br><a href="{{ path('admin_user_edit', {'id': ad.userId}) }}"><small>Voir l'utilisateur ></small></a></td>
                            <td class="text-center">
                                <span class="badge badge-dark">{{ad.note | number_format(1,","," ")}}</span>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
