{% set url = path('ads_show',{'slug':ad.slug}) %}
            <div class="col-md-4 mt-3">
                <div class="card-header text-center">
                    {{ ad.rooms }} chambres, <strong> {{ ad.price | number_format(2, ',' ,' ')  }}&euro; / nuit</strong> </br>
                    {% if ad.comments | length > 0 %}
                        <small>{% include 'partials/rating.html.twig' with {'rating' : ad.avgRatings} %}</small>
                        <br>
                        <small class="">{{ ad.comments | length }} avis !</small>
                    {% else %}
                        <small>Pas encore noté</small>
                    {% endif %}
                    
                    <a href="{{ url }}" class="overflow-hidden d-block" title="Voir l'annonce">
                        <img src="{{ ad.coverImage }}" class="" alt="Image de l'annonce" style="height:200px">
                    </a>
                    <div class="card-body">
                        <a href="{{ url }}" title="Voir l'annonce">
                            <h4 class="card-title">
                                {{ ad.title }}
                            </h4>
                        </a>
                        <p class="card-text">
                            {{ ad.introduction }}
                        </p>
                        <a href="{{ path('ads_show',{'slug':ad.slug}) }}" class="btn btn-primary mt-3" title="Voir l'annonce">En savoir plus</a>
                        {% if app.user and app.user == ad.author %}
                        <a href="{{ path('ads_edit', {'slug':ad.slug}) }}" class="btn btn-primary mt-3">Modifier l'annonce</a>
                        {% endif %}
                    </div>
                </div>
            </div>