{% block _ad_new_images_widget %}

    <small>Ici, vous pouvez ajouter vos propres images !</small>

    {{ form_widget(form) }}

<input type="hidden" id="widgets-counter" value="0">

    <div class="form-group">
        <button type="button" id="add-image" class="btn btn-info"><i class="fas fa-plus"></i></button>
    </div>

{% endblock %}

{% block _ad_new_images_entry_row %}

    {{ form_widget(form) }}

{% endblock %}

{% block _ad_new_images_entry_widget %}

    <div class="form-group" id="block_{{ id }}">
    <div class="row mb-4">
        <div class="col-10">
            <div class="row">
                <div class="col-sm my-2">
                    {{ form_widget(form.url)}}
                    {{ form_errors(form.url)}}
                </div>
                <div class="col-sm my-2">
                    {{ form_widget(form.caption)}}
                    {{ form_errors(form.caption)}}
                </div>
            </div>
        </div>
        <div class="col-2 d-flex justify-content-center align-items-center">
            <button type="button" data-action="delete" data-target="#block_{{id}}" class="btn btn-danger"> <i class="fas fa-minus"></i> </button>
        </div>
    </div>
    </div>

{% endblock %}