{% extends 'base.html.twig' %}

{% block title %}Nos magnifiques annonce{% endblock %}

{% block body %}
<div class="jumbotron">
    <h1 class="display-4">Voici les annonces de nos hôtes</h1>
    <hr class="my-4">
</div>
<div class="container">
    <div class="row">
    
    {% for ad in pagination.data %}
        {% include 'ad/_ad.html.twig' %}
    {% endfor %}
    </div>
    <div class="my-5">
    
    {{ pagination.display() }}
    </div>
</div>
{% endblock %}
