{% extends 'base.html.twig' %}

{% block title %}Créations d'une annonce{% endblock %}

{% form_theme form 'ad/_collection.html.twig' %}

{% block body %}
<div class="jumbotron">
    <h1 class="display-4">Créé une nouvelle annonce</h1>
    <hr class="my-4">
</div>
<div class="container">
{{ form_start(form) }}

    <div class="row">
        <div class="col-md">
            <div class="alert alert-light">
                <h2>Informations générales</h2>
                <hr>
                {{ form_row(form.title) }}
                {{ form_row(form.slug) }}
                {{ form_row(form.price) }}
                {{ form_row(form.rooms) }}

            </div>
            <div class="alert alert-light">
                <h2>Détails de l'annonce</h2>
                <hr>
                {{ form_row(form.introduction) }}
                {{ form_row(form.content) }}
            </div>
        </div>
        <div class="col-md">
            <div class="alert alert-light">
                <h2>Images de l'annonce</h2>
                <hr>
                {{ form_row(form.coverImage) }}
                {{ form_row(form.images) }}
            </div>
        </div>
    </div>


<button type="submit" class="btn-block btn-primary py-3 rounded">Créer</button>
{{ form_end(form) }}
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('ad') }}
{% endblock %}

