{% extends 'base.html.twig' %}

{% block title %}
    {{ ad.title }}
{% endblock %}

{% block body %}

<div class="ad-title" style="background-image: url({{ ad.coverImage }}); background-size:cover;background-position:center center;">
    <div style="background:rgba(255,255,255,0.5)">
        <div class="container py-5" >
            <h1 class="">{{ ad.title }}</h1>
            <p class="text-dark"> {{ad.introduction}}</p>
            <p class="h2 my-5">
                <strong>{{ad.rooms }} chambres</strong> pour <strong class="display-4">{{ad.price | number_format(2, ',' ,' ') }}&euro;</strong>/nuit
            </p>
            <a href="{{ path('booking_create', {'slug':ad.slug}) }}" class="btn-lg btn-primary">Réserver</a>
            {% if app.user and app.user == ad.author %}
            <a href="{{ path('ads_edit', {'slug':ad.slug}) }}" class="btn btn-secondary">Modifier l'annonce</a>
            
            <a href="{{ path('ads_delete', {'slug':ad.slug}) }}" class="btn btn-danger" onclick="return confirm(`Êtes vous sur de vouloir de supprimer l'annonce : {{ ad.title }} ?`)">Supprimer</a>
            {% endif %}
        </div>
    </div>
</div>

<div class="container py-5">
    <div class="row">
        <div class="col-lg-8 mb-3">
            {{ad.content | raw}}
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                {% for image in ad.images %}
                <li data-target="#carouselExampleIndicators" data-slide-to="{{ loop.index0 }}" class="{% if loop.first %}active{% endif %}"></li>
                {% endfor %}
                    
                </ol>
                <div class="carousel-inner">
                {% for image in ad.images %}
                    <div class="carousel-item {% if loop.first %}active{% endif %}">
                        <img src="{{ image.url }}" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block" style="color:white; text-shadow:3px 3px 3px rgba(0,0,0,0.8)">
                                <h5 class="text-light">{{ ad.title }}</h5>
                                <p>{{image.caption}}</p>
                            </div>
                    </div>
                {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <hr/>
            {% if ad.comments | length > 0 %}
                <h2 class="mb-3">Commentaires de nos voyageurs :</h2>

                <div class="alert alert-info">
                    <h4 class="alert-heading">
                        <div class="row align-items-center">
                            <div class="col-sm">Note global donnée par nos voyageurs <br>
                            </div>
                            <div class="col-sm text-right">
                            {{ ad.AvgRatings | round(1) }}
                                {% include 'partials/rating.html.twig' with {'rating' : ad.AvgRatings } %} <br>
                                <small class="">{{ ad.comments | length }} avis !</small>
                            </div>
                        </div>
                    </h4>
                </div>
                {% for comment in ad.comments %}
                    <div class="border-bottom border-light mb-3 p-3">
                        <strong class="h5">{{ comment.author.getFullName }}</strong> a dit :
                        <br>
                        <small> {{ comment.createdAt | date ('d/m/Y') }}</small>
                        <blockquote class="my-3">
                            {{ comment.content }}
                        </blockquote>
                        <strong>Note donnée par {{comment.author.firstName }} : </strong>
                        {% include 'partials/rating.html.twig' with {'rating' : comment.rating} %}
                    </div>
                {% endfor %}
            {% else %}
                <h2>Cette annonce n'a pas encore reçue de commentaire</h2>
            {% endif %}
        </div>
        <div class="col">
        {% set a = ad.author %}
            <div class="d-flex justify-content-start align-items-center flex-wrap">
                <div class="mr-3">
                <a href="{{ path('user_show', {'slug': a.slug}) }}">
                    <img src="{{ a.picture }}" class="avatar avatar-medium d-block" alt="Avatare de {{ a.getFullName }}" style="max-width:64px; max-heigth:64px;">
                </a>
                </div>
                <div class="mb-3">
                <a href="{{ path('user_show', {'slug': a.slug}) }}">
                    <h3>{{ a.getFullName }}</h3>
                </a>
                    <span class="badge badge-primary">{{ a.ads | length }} annonce{% if (a.ads | length)>1 %}s{% endif %} </span>
                </div>
                {{ a.description | raw }}
            </div>
        </div>
    </div>

</div>
{% endblock %}
