{% extends 'base.html.twig' %}

{% block title %}Page non trouvé{% endblock %}

{% block body %}

<div class="container my-5">
    <h1>Oups ! La page que vous rechercher n'existe pas </h1>
    <p>On a surement dû mal vous renseigner ! Aucun soucis, vous pouvez retourner à l'accueil ou voir nos dernières annonces !</p>

    <a href="{{ path('homepage') }}" class="btn btn-primary">Retour à l'accueil</a>
    <a href="{{ path('ads_index') }}" class="btn btn-info">Nos annonces </a>

</div>
{% endblock %}