{% extends 'base.html.twig' %}

{% block title %}Accées refusé{% endblock %}

{% block body %}

<div class="container my-5">
    <h1>Vous n'êtes pas autorisé à accéder au contenu</h1>
    <div class="alert alert-danger">
        <p>Vous n'avez pas le droit d'accéder à cette ressource</p>
    </div>
    

    <a href="{{ path('homepage') }}" class="btn btn-primary">Retour à l'accueil</a>
    

</div>
{% endblock %}