{% extends 'base.html.twig' %}

{% block title %}Page de {{ user.getFullName}} {% endblock %}

{% block body %}
    <div class="container">
        <div class="row my-5 align-items-center">
            <div class="col-sm-3 text-center">
                <img src="{{ user.picture }}" class="rounded-circle w-100 avatar" alt="Avatare de {{ user.getFullName }}">
                <br/>
                <span class="badge badge-primary">{{ user.ads | length }} annonce{% if (user.ads | length)>1 %}s{% endif %} </span>
            </div>
            <div class="col-sm-9">
                <h1>{{user.getFullName}}</h1>
                {% if user is same as(app.user) %}
                    <div class="mt-3">
                        <a href="{{ path('account_profile') }}" class="btn btn-primary mr-2 mb-2">Modifier les informations</a>
                        <a href="{{ path('account_password' )}}" class="btn btn-success mb-2">Modifier le mot de passe</a>
                    </div>
                {% endif %}
            </div>
        </div>
        {{ user.description | raw }}

        <hr>

        <h2>Les annonces de {{ user.getFullName }}</h2>
        {% if user.ads |length > 0 %}
            <div class="row">
                {% for ad in user.ads %}
                    {% include 'ad/_ad.html.twig' %}
                {% endfor %}
            </div>
        {% else %}
            <div class="alert alert-warning">
                <p><strong>{{ user.getFullName }}</strong> n'a pas encore d'annonce sur le site</p>
            </div>
        {% endif %}
    </div>
{% endblock %}
